.wrap-product {
}
.header-product {
  display: flex;
}
.header-product__btn {
  border: 1px solid #888;
  border-radius: 8px;
}
.header-product__btn:hover {
  background-color: var(--color-btn-add);
  border-color: var(--color-btn-add);
}
