.wrap-category {
}
.header-category {
  display: flex;
}
.header-category__btn {
  border: 1px solid #888;
  border-radius: 8px;
  margin-right: 4px;
}
.header-category__btn:hover {
  background-color: var(--color-btn-add);
  border-color: var(--color-btn-add);
}
