.btnCustom {
  border-radius: 8px;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: var(--text-color);
  border: none;
  padding: 8px 10px;
}
.btnCustom:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  cursor: pointer;
}
.btnCustom:active {
  transform: none;
}
