.nav-custom {
  font-size: 1.5rem;
  line-height: 3.6rem;
  letter-spacing: 0.39px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  opacity: 0.9;
  height: 36px;
  border-radius: 8px;
}
.nav-custom--active {
  background-color: var(--primary-color-red);
  color: var(--text-color) !important;
}
.nav-custom:hover {
  color: var(--text-color);
}
.nav-custom__icon {
  margin-right: 8px;
}
