.headerMain {
  height: var(--header-height);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.headerMain__title {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 600;
}
.headerMain_user-wrap {
  cursor: pointer;
  position: relative;
}
.headerMain_user-icon {
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: var(--text-color);
  margin-right: 4px;
}

.headerMain_user-wrap:hover .dropdown-headerMain_user {
  display: block;
  animation: hoverUser 0.5s ease-in-out;
}
@keyframes hoverUser {
  0% {
    display: none;
    transform: scale(0);
    transform-origin: top right;
  }
  100% {
    display: block;
    transform: scale(1);
    transform-origin: top right;
  }
}
.dropdown-headerMain_user {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  list-style: none;
  background-color: rgb(250, 245, 240);
  border-radius: 4px;
  padding-left: 0;
  padding: 6px 16px;
}
.dropdown-headerMain_user::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 5px;
  border: 10px solid;
  border-color: transparent transparent rgb(250, 245, 240) transparent;
}
.dropdown-headerMain_user::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  background-color: transparent;
  height: 20px;
  width: 100%;
}
.dropdown-headerMain_user li {
  width: 90px;
  font-size: 1.4rem;
  padding: 4px 0;
  border-bottom: 1px solid #999;
  text-align: center;
  margin-bottom: 10px;
}
.dropdown-headerMain_user li:hover {
  color: var(--primary-color-red);
  transform: translateY(-1px);
  border-bottom: 1px solid var(--primary-color-red);
}
