.wapper-changepassword__input {
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.wapper-changepassword__input .wapper-changepassword__input-title {
  width: 200px;
  margin-right: 4px;
  font-size: 1.5rem;
}
