.editprod-item__Switch {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
.editprod-item__action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.editprod-item__Switch span {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-right: 4px;
}
.wrapp-btn-upload {
  margin: 40px 0;
}
.wrap-imageDefault-edit {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.wrap-editprod {
  display: flex;
  justify-content: center;
}
.wrap-editprod__item {
  width: 600px;
  padding: 50px 80px;
  border: 1px solid #999;
  box-shadow: 0 0 10px 1px #999;
  border-radius: 8px;
}
