.ant-table-wrapper {
  clear: none !important;
  margin: 6px 8px;
}
.wrapper-expan__product {
  display: flex;
}
.ant-card-head-title {
  font-size: 1.4rem;
}
.discount-card__product p {
  font-size: 1.4rem;
  margin-bottom: 4px;
}
.discount-card__product > .ant-card-body {
  padding: 12px 24px;
}
.container-loading {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: var(--primary-color-red);
}
.container-loading div {
  font-size: 3rem;
}
.loading {
  margin-bottom: 20px;

  animation: spin 2s linear infinite;
}
